@import '../../../variables';

.menuBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 31px;
    height: 31px;
    right: 14px;
    top: 17px;
    background-color: transparent;
    border-radius: 100px;
    z-index: 3;
}

.menuOpened {
    background-color: rgba(51,51,51,0.1);
}

.point {
    width: 5px;
    height: 5px;
    background-color: $greyC8;
    border-radius: 100%;
}

.point:not(:last-of-type) {
    margin-right: 2.5px;
}


@media all and (min-width: 576px) {
    .menuBtn {
        display: flex;
        flex-direction: column;
        right: 66px;
        top: 59px;
    }
    .point:not(:last-of-type) {
        margin-right: 0;
        margin-bottom: 2.5px;
    }
    
}

@media all and (min-width: 1024px) {
    .menuBtn {
        right: 106px;
    }
}

@media all and (min-width: 1540px) {
    .menuBtn:hover {
        background-color: rgba(51,51,51,0.1);
        cursor: pointer;
    }
}