@import '../../variables';

.sortBlock {
    padding: 11px 20px;
    margin: 0 0 20px;
    background-color: $white;
    border-radius: 7px;
}

@media all and (min-width: 1024px) {
    .sortBlock {
        padding: 0;
        margin: 0;
        border-radius: 0;
        background-color: transparent;
    }
}
