@import '../../variables';

.card {
    display: flex;
    align-items: center;
    padding: 22px 0px;
    background: $white;
}

.card > * {
    flex: 1 1 100%;
}

@media all and (min-width: 1024px) {
    .card {
        padding: 20px 0px;
    }
}