@import '../../../variables';

.title {
    padding: 0px 20px;
    margin-bottom: 13px;
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
    font-weight: normal;
    color: $black;
}