@import '../../variables';

.searchBlock {
    display: flex;
    flex-flow: row nowrap;
    padding: 14px 20px;
    margin: 0 0 38px;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    border-radius: 0 0 7px 7px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);

}

@media all and (min-width: 1024px) {
    .searchBlock {
        padding: 0;
        margin: 0 0 0 auto;
        order: 3;
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
    }
}