@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './variables';

body {
    padding: 0;
    margin: 0;
    background-color: $greyF4;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Roboto', serif;
}

* {
    color: $black;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    margin: 0px;
    padding: 0px;
}

button {
    padding: 0;
    margin: 0;
    background-color: transparent;
    outline: none;
    border: none;
}
