
@import "../../../../variables";

.wrapper {
    display: flex;
    align-items: center;
}

@media all and (min-width: 576px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
    }
}

