.preview {
    width: 100%;
    min-height: 178px;
    background-image: url('./img/preview.png');
    background-repeat: no-repeat;
    background-position: center center;
}

@media all and (min-width: 576px) {
    .preview {
        order: 0;
        max-width: 190px;
        min-height: 109px;
    }
}